.aboutSection{
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/1487010/pexels-photo-1487010.jpeg?cs=srgb&dl=pexels-james-wheeler-1487010.jpg&fm=jpg");
  background-size: cover;
}
.about-wrapper{
  display: flex;
  flex-wrap:wrap;
  
  justify-content: space-evenly;
  width: 95%;
}
.about-title{
  width: 30%;
  height: 16rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0 1em ;
  border-radius: 3em;
  
  z-index: 1;
  
}
.about-title h1{
  font-size: 5rem;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #a1c579;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1f1f1f;
  transform: skew(5deg, 5deg) scale(0);
  animation: scale 2s forwards cubic-bezier(0.5,1,0.89,1);

}
@keyframes scale {
  100%{
    transform:skew(10deg, 10deg) scale(1);
  }
}
.about-dec1{
  position: absolute;
  
  width: 26rem;
  height: 26rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1fb6;
  /* transform: rotate(-45deg) scale(1.5); */
  border-radius: 2em;
  border: 5px solid #fffddc;
  transform: skew(10deg, 10deg) scale(0);
  animation: scale 2s forwards ease;
  z-index: -1;
  background-image: url("../../../assets/images/about-font.jpg");
  background-size: cover;
}
.about-content{
  width: 55%;
  height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1fa6;
  color:#fffddc;
  padding: 1em 0 1em ;
  border-radius: 2em;
  margin-top: 2em;
  
  
}

.about-content h2{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
}
.about-content p{
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.about-content button{
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  font-size: 1.5rem;
}
.pages{
  
}
.about-page1{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-page2{
  display: none;
  background-color: #1f1f1f5a;
}
@media (max-width:1030px){
  .aboutSection{
    height: 200dvh;
    display: flex;
    flex-direction: column;
  }
  .about-title{
    width: 100%;
    height: 100dvh;
    margin: 2em 0 1em ;

  }
  .about-title h1{
    font-size: 2.5rem;
  }
  .about-content{
    width: 95%;
    height: 100dvh;
    margin-bottom: 2em;
  }
  .about-page1{
    width: 95%;
  }
  .about-content h2{
    font-size: 2rem;
  }
  .about-content p{
    font-size: 1rem;
  }
  .about-dec1{
    width: 16rem;
    height: 13rem;
  }
}
