.homeSection{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap-reverse;
    justify-content:space-around;


    margin-top: 1em;
    margin-bottom: 1em;

    width: 100%;
    height: auto;

    background-color: rgba(44, 103, 115, 0.337);
}
.imgConteiner{
    display: flex;
    justify-content: center;
    align-items: center;

  margin:2em;
  
    width: 35em;
}
.imgConteiner img{
  background-color: #06abab14;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.657);
}
.welcomeMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2em;
    width: 25em;
    background-color: #057d7d14;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.467);
    padding: 2em;
    font-size: 1.2rem;
    color: #333;
} 
h1 {
  font-size: 3rem;
  font-weight: 800;
  font-family: 'Goudy Old Style', Garamond, Big Caslon, Times New Roman, serif;
  letter-spacing: 0.05em;

  color: #01979796;
}




